@use '../../roots' as *;
@use '../../mixins';


.doctor {
    margin-top: 150px;
    @include mixins.flexBox(space-between, center, row, '', 2rem);

    &__txt {
        width: 700px;
        @include mixins.flexBox(center, flex-start, column, '', 2rem);

        h1 {
            font-size: $fs-60;

            span {
                color: $bg-skyblue;
            }

            @media only screen and (max-width: 1024px) {
                font-size: $fs-48;
                line-height: 1;
            }

            @media only screen and (max-width: 425px) {
                font-size: $fs-30;
            }
        }

        p {
            font-size: $fs-20;
            color: $bg-gray;

            @media only screen and (max-width: 1024px) {
                font-size: $fs-18;

            }

            @media only screen and (max-width: 425px) {
                font-size: $fs-16;
            }
        }

        .number {
            @include mixins.flexBox(center, flex-start, row, '', 2rem);

            @media only screen and (max-width: 1024px) {}

            h2 {
                font-size: $fs-26;
            }

            p {
                margin-top: -10px;
                font-size: $fs-16;
            }

            @media only screen and (max-width: 1024px) {
                @include mixins.flexBox(start, flex-start, row, '', 3rem);
                width: 700px;
                margin-bottom: 80px;
            }

            @media only screen and (max-width: 425px) {
                width: 380px;
                @include mixins.flexBox(center, flex-start, row, wrap, 1rem);
                text-align: center;
            }
        }

        @media only screen and (max-width: 1024px) {
            @include mixins.flexBox(start, flex-start, column, '', 2rem);
        }

        @media only screen and (max-width: 425px) {
            width: 370px;
            @include mixins.flexBox(start, flex-start, column, '', 2rem);
        }
    }

    &__img {
        img {
            width: 600px;

            @media only screen and (max-width: 1024px) {
                width: 480px;

            }

            @media only screen and (max-width: 1024px) {
                width: 380px;

            }
        }
    }

    @media only screen and (max-width: 1024px) {
        @include mixins.flexBox(center, center, column-reverse, '', 1rem);
        margin-top: 100px;

    }
}