@use '../../roots' as *;
@use '../../mixins';

.question {
    margin-bottom: 200px;
    width: 100%;
    @include mixins.flexBox(center, center, row, '', 2rem);

    .savol {
        @include mixins.flexBox(center, center, row, '', 2rem);
&__img{

    img{
        width: 450px ;
    }
}
        &__txt {
            background-color: $bg-light-blue;
            padding: 80px 100px;
            border-radius: $br-24;
            height: 450px;

            h2 {
                font-size: $fs-48;
                color: $bg-dark;

                @media only screen and (max-width: 1024px) {
                        font-size: $fs-26;
                }
            }

            p {
                font-size: $fs-20;
                color: $bg-gray;
                @media only screen and (max-width: 1024px) {
                    font-size: $fs-16;

                }
            }

            .whatsapp-btn {
                @include mixins.button(15px 20px, 1px solid $bg-green, $br-8, $bg-green, $fc-white, $fs-20, $fw-5, $shadow-green);
                margin-top: 30px;

                @media only screen and (max-width: 1024px) {
                    width: 100%;
                margin-top: 20px;

                }
            }

            @media only screen and (max-width: 1024px) {
                padding: 65px 50px;
            }
            @media only screen and (max-width: 425px) {
width: 370px;
padding: 35px 30px;

            }
        }
        @media only screen and (max-width: 1024px) {
        @include mixins.flexBox(center, center, row, '', 1rem);

        }
        @media only screen and (max-width: 425px) {
            @include mixins.flexBox(center, center, column, '', 1rem);

            }
    }
    @media only screen and (max-width: 425px) {
margin-top: 90px;
        }
}